.me-auto {
    margin-right: auto!important;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.link-dark {
    color: #212529!important;
}

.card-img-top{
    max-width: 100%;
    height: auto;
}