{% extends 'base.html' %}
{% load  static %}

{% block body %}
    {% include 'header.html' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% for image in product.productimage_set.all %}
                <img src="{{ image.image.url }}" class="img-responsive">
                {% endfor %}
            </div>
        <div class="col-lg-6">
            <h1 class="text-center">
                {{ product.name }}
            </h1>
            <div class="">
                <p>
                    Ціна: {{ product.price }} UAH
                </p>
            </div>
            <div>
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#description" aria-controls="home" role="tab" data-toggle="tab">
                            Описание
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#delivery" aria-controls="profile" role="tab" data-toggle="tab">
                            Характеристики
                        </a>
                    </li>
                  </ul>

                  <div class="tab-content product-description-tabs">
                    <div role="tabpanel" class="tab-pane active" id="description">
                        {{ product.description }}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="delivery">
                        {{product.charecters}}
                    </div>
                  </div>
            </div>
        </div>
        </div>
    </div>


    {% include 'footer.html' %}
{% endblock %}