{% extends 'base.html' %}
    {% block body %}
    {% include 'header.html' %}
        <div class="container">
            <div class="col-12 title">
                <h1>О нас</h1>
                <p>Мы - интернет-магазин, который предлагает широкий выбор телефонов и ноутбуков по доступным ценам.</p>
                <p>Наша команда состоит из опытных специалистов, которые помогут вам с выбором и ответят на все ваши вопросы.</p>

                <h2>Наша миссия</h2>
                <p>Мы стремимся предоставлять нашим клиентам высококачественные продукты по доступным ценам. Наша цель - сделать покупку телефона или ноутбука простой и удобной для каждого.</p>

                <h2>Наше качество</h2>
                <p>Мы работаем только с лучшими производителями, чтобы гарантировать высокое качество всех наших товаров. Каждый продукт проходит строгий контроль качества, прежде чем он поступает в продажу.</p>

                <h2>Наша команда</h2>
                <p>Наша команда состоит из высококвалифицированных и опытных специалистов в области продаж и технической поддержки. Мы всегда готовы помочь нашим клиентам с выбором товара и ответить на любые вопросы.</p>

                <h2>Наши контакты</h2>
                <p>Мы всегда рады услышать от наших клиентов. Если у вас есть вопросы или комментарии, пожалуйста, свяжитесь с нами:</p>
                <ul>
                    <li>Телефон: 380-50-000-00-00</li>
                    <li>Email: info@myshop.com</li>
                    <li>Адрес: вул.К</li>
                </ul>
            </div>
        </div>

    {% include 'footer.html' %}

    {% endblock %}

