{% extends 'base.html' %}
{% block body %}
    {% include 'header.html' %}
       {% load static %}

    <div class="container">
        <h2>Телефони</h2>
            <div class="row">
                {% for product_image in products_images_telephone %}
                     {% include 'product/prod_item.html' %}
                {% endfor %}
            </div>
    </div>

    <div class="container">
        <h2>Ноутбуки</h2>
            <div class="row">
                {% for product_image in products_images_notebook %}
                     {% include 'product/prod_item.html' %}
                {% endfor %}
            </div>
    </div>

    <div class="container">
        <h2>Аксессуари для ПК</h2>
            <div class="row">
                {% for product_image in products_images_accesory %}
                     {% include 'product/prod_item.html' %}
                {% endfor %}
            </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}