{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<heaad>
   <nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <div class="navbar-header">
          <a  href="/" class="d-flex align-items-center ">
              <img src="{% static 'media/logo.jpg' %}" alt="" width="60px" height="40px">
          </a>
        </div>
      <ul class="nav me-auto">
        <li class="nav-item"><a href="/" class="btn btn-light" aria-current="page">Главная</a></li>
        <li class="nav-item "><a class=" btn btn-light" data-toggle="dropdown" href="#">Каталог <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="telephone">Телефони</a></li>
              <li><a href="notebook">Ноутбуки</a></li>
              <li><a href="accesory">Аксесуари</a></li>
              <li><a href="catalogs">Всі товари</a></li>
            </ul>
        <li class="nav-item"><a href="about" class="btn btn-light">О нас</a></li>
      </ul>
      <ul class="nav">
        <li>
            <div class="cart-container">
                <a href="checkout" class="btn btn-light">Корзина <span id="cart_total_nmb">
                    {% if products_total_nmb %}
                        {{ products_total_nmb }}
                    {% else %}
                        (0)
                    {% endif %}
                </span></a>
                <div class="cart_prod hidden">
                    <ul class="">
                        {% for product_cart in products_in_cart %}
                        <li>
                            {{ product_cart.product.name }} {{ product_cart.nmb }} шт.
                            по {{ product_cart.price_per_item }} UAH
                            <a class="delete-item" href="" data-id_prod="{{ product_cart.id }}">x</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>


        </li>
        <li class="nav-item"><a href="#" class="btn btn-light">Увійти</a></li>
        <li class="nav-item"><a href="#" class="btn btn-light">Зареєструватися</a></li>
      </ul>
    </div>
  </nav>
</heaad>
<script src="{% static 'js/form_script.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>








