{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static "css/style.css" %}">
{% block body %}
    {% include 'header.html' %}
    <div class="container">
        <div class="col-12">
          <h1 class="title">Здравствуйте!</h1>
          <p>Ласкаво просимо до нашого інтернет-магазину б/у телефонів, ноутбуків та аксесуарів! У нас ви можете знайти широкий вибір якісних пристроїв за привабливими цінами. Ми гарантуємо високу якість кожного товару та швидку доставку по всій країні.</p>
          <p>Якщо у вас виникнуть запитання або проблеми, наша служба підтримки завжди готова допомогти вам. Ми цінуємо кожного клієнта та робимо все можливе, щоб зробити покупки в нашому магазині максимально зручними та приємними.</p>
          <p>Дякуємо за вибір нашого магазину, ми сподіваємося, що ви знайдете тут все, що шукали!</p>
          <p>З повагою,<br>Команда нашого магазину</p>
        </div>
    </div>

    {% include 'footer.html' %}

{% endblock %}